<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador - Imagetico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
          rel="stylesheet">
</head>
<body>
<div th:insert="fragments/headerAdm :: headerAdm"></div>
<div class="container mt-5">
    <header class="d-flex justify-content-between align-items-center mb-4">
        <h1>Bem-vindo(a), <span th:text="${admLogado.name}"></span></h1>
        <a href="/administrator/logout" class="btn btn-danger">Sair</a>
    </header>

    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Lista de Fotógrafos</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="photographer : ${photographers}">
                    <td th:text="${photographer.id}"></td>
                    <td th:text="${photographer.name}"></td>
                    <td th:text="${photographer.email}"></td>
                    <td>
                        <form th:action="@{/administrator/suspend}" method="post" class="d-inline"
                              th:if="${!photographer.suspended}">
                            <input type="hidden" th:value="${photographer.id}" name="photographerId">
                            <button type="submit" class="btn btn-warning btn-sm">Suspender</button>
                        </form>

                        <form th:action="@{/administrator/activate}" method="post" class="d-inline"
                              th:if="${photographer.suspended}">
                            <input type="hidden" th:value="${photographer.id}" name="photographerId">
                            <button type="submit" class="btn btn-success btn-sm">Ativar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>