<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragmentos</title>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="headerD" class="navbar">
    <a th:href="@{/photographer/dashboard}"><img class="logo" th:src="@{/imgs/logo2.png}" alt="logo"></a>
    <div class="menu">
        <a th:href="@{/photographer/profile}" title="Perfil">
            <i class="bi bi-person"></i>
        </a>

        <!-- Ícone do Dashboard Admin (só aparece se for admin) -->
        <a th:if="${isAdmin}" th:href="@{/administrator/dashboardAdm}" title="Admin Dashboard">
            <i class="bi bi-shield-lock"></i>
        </a>

        <a href="#" onclick="document.getElementById('logoutForm').submit();">
            <i class="bi bi-box-arrow-right"></i>
        </a>
        <form id="logoutForm" th:action="@{/logout}" method="post" style="display:none;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
        </div>
</div>
</body>
</html>