<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragmentos</title>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="headerD" class="navbar">
    <p>IMAGÉTICO</p>
    <div class="menu">
        <a th:href="@{/photographer/works}" title="Meus Trabalhos">
            <i class="bi bi-images"></i>
        </a>
        <a th:href="@{/photographer/profile}" title="Perfil">
            <i class="bi bi-person"></i>
        </a>
        <a th:href="@{/photographer/logout}" title="Sair">
            <i class="bi bi-box-arrow-right"></i>
        </a>
    </div>
</div>
</body>
</html>