<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Imagetico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/header :: headerD"></div>
<div class="container-fluid mt-5">
    <div class="row mt-4">
        <div class="col-md-9">
            <div class="new-photo">
                <a href="../photo/form">
                    <button type="submit" id="b1" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal"><i class="bi bi-plus-lg"></i>Publicar Foto</button>
                </a>
                <div id="search" class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Pesquisar fotógrafo" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
                </div>
            </div>
            <div class="card" th:each="photo : ${followingPhotos}">
                <div th:insert="~{fragments/photocard::photocard(photo=${photo})}"></div>
            </div>
        </div>
        <div class="col-md-3 border-start">
            <h4>Opções para seguir</h4>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" th:each="photographer : ${photographers}">
                    <span th:text="${photographer.name}">Fotógrafo</span>
                    <a th:href="@{/photographer/{id}/view(id=${photographer.id})}" class="btn btn-outline-info">Ver Perfil</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

