<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de fotografos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Cadastro de Fotógrafo</h2>

    <div th:if="${mensagem}" th:text="${mensagem}" style="color: green;"></div>


    <form action="#" th:action="@{/photographer/register}" th:object="${photographer}" method="post" enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Digite seu nome">
            <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                <p th:errors="*{name}"></p>
            </div>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Digite seu e-mail">
            <div th:if="${#fields.hasErrors('email')}" class="text-danger">
                <p th:errors="*{email}">E-mail inválido</p>
            </div>
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="city" th:field="*{city}" placeholder="Digite sua cidade">
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">País</label>
            <input type="text" class="form-control" id="country" th:field="*{country}" placeholder="Digite seu país">
        </div>

        <div class="mb-3">
            <label for="profilePhotoFile" class="form-label">Foto de Perfil</label>
            <input type="file" class="form-control" id="profilePhotoFile" name="profilePhotoFile" accept="image/*">
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>