<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Fotógrafo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/profile.css}"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/header :: headerD"></div>

<div class="profile-body">
  <div class="container mt-5">
    <div class="profile-header text-center">
      <div class="container-left">
        <img class="profile-photo" th:src="${photographerLogado.profilePhotoPath}" alt="Foto do fotógrafo">
        <div class="profile-header-info">
          <h2 th:text="${photographerLogado.name}"></h2>
          <p class="email" th:text="${photographerLogado.email}"></p>
          <p class="location" th:text="${photographerLogado.city} + ' - ' + ${photographerLogado.country}"></p>
        </div>
      </div>
      <div class="buttons" style="display: flex; align-items: center; gap: 16px">
        <div class="follow-btn text-center">
          <form th:action="@{/photographer/allow-followers/{allow}(allow=${photographerLogado.isFollowAllowed() ? false : true})}" method="POST">
            <button type="submit" class="btn btn-outline-primary">
              <i class="bi" th:class="${photographerLogado.isFollowAllowed() ? 'bi-person-x' : 'bi-person-plus'}"></i>
              <span th:text="${photographerLogado.isFollowAllowed() ? 'Bloquear Seguidores' : 'Permitir Seguidores'}"></span>
            </button>
          </form>
        </div>
        <a th:href="@{/photographer/{id}/following(id=${photographerLogado.id})}">
          <button class="btn btn-outline-primary" style="display: flex; flex-direction: row; align-items: center">
            <i class="bi bi-people-fill" style="margin-right: 8px; padding: 0"></i>
            <p th:text="${following.size()}" style="margin: 0"></p>
          </button>
        </a>
        <div class="new-photo">
          <a href="../photo/form">
            <button type="submit" id="b1" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal"><i class="bi bi-plus-lg"></i>Publicar Foto</button>
          </a>
        </div>
      </div>
    </div>
    <div class="container-cards">
      <div class="card" th:each="photo : ${photos}">
        <div th:insert="~{fragments/photocard-profile::photocard-profile(photo=${photo})}"></div>
      </div>
    </div>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

