<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ver Fotógrafo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
          rel="stylesheet">
</head>
<body>
<div th:insert="fragments/header :: headerD"></div>
<div class="profile-body">
    <div class="container mt-5">
        <div th:if="${mensagem}" class="alert alert-success" role="alert" th:text="${mensagem}"></div>
        <div class="profile-header text-center">
            <div class="container-left">
                <img class="profile-photo" th:src="${photographer.profilePhotoPath}" alt="Foto do fotógrafo">
                <div class="profile-header-info">
                    <h2 th:text="${photographer.name}"></h2>
                    <p class="email" th:text="${photographer.email}"></p>
                    <p class="location" th:text="${photographer.city} + ' - ' + ${photographer.country}"></p>
                </div>
            </div>
            <div class="buttons">
                <form th:action="@{/photographer/follow/{followedId}(followedId=${photographer.id})}" method="POST">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi" style="margin-right: 8px"
                           th:classappend="${isFollowing == 'sim'} ? 'bi-person-check' : 'bi-person-add'"></i>
                        <span th:text="${isFollowing == 'sim'} ? 'Deixar de seguir' : 'Seguir'"></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="container-cards">
            <div class="card" th:each="photo : ${photos}">
                <div th:insert="~{fragments/photocard-profile::photocard-profile(photo=${photo})}"></div>
            </div>
        </div>
        <div th:if="${mensagemErro}" class="alert alert-danger" role="alert" th:text="${mensagemErro}"></div>
    </div>
</div>
</body>
</html>